html
  head
    title Rss reader
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.pr-1
      div.container
        h1 Rss reader
        form.search-form.row.align-items-center(novalidate)
          div.col-md-4.col-lg-8
            label.position-absolute(for='validationCustom01')
            input#validationCustom01.form-control.search-form-input(
              type='search'
              placeholder='Enter rss feed'
              required
            )
            div.valid-feedback
          button.btn.btn-outline-success.col-lg-4(type='submit') Search
    div.jumbotron
      div.container
        h1.display-4 Hello, world!
        p.lead
          | This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
        hr.my-4
        p
          | It uses utility classes for typography and spacing to space content out within the larger container.
        a.btn.btn-primary.btn-lg(href='#', role='button') Learn more

    div.overlay
      div.preloader
    script(src='/js/vendor.bundle.js')
    script(src='/js/index.bundle.js')
